@import '../../style/variables.scss';
.header {
    display: flex;
    align-items: center;
    min-height: 110px;
    &__logo{
        
        &-img {
            width: 100%;
            min-height: 40px;
            cursor: pointer;
        }
  }
    &__catalog{
        width: 116px;
        height: 50px;
        margin: 0 20px;
        background-color: white;
        border: none;
        border-radius: $radius-S;
        cursor: pointer;
        &:hover { 
            background-color: $background-color;
        }
  }
    &__catalog-hamburger{
  
  }
  &__search { 
    position: relative;
    width: 526px;
    height: 50px;
    padding: 15px 20px;
    border-radius: $radius-S;
    background: 
    linear-gradient(rgb(255, 255, 255) 0 0) padding-box,
    linear-gradient(rgba(65, 70, 189, 1), rgba(255, 0, 153, 1), rgba(255, 199, 0, 1)) border-box;
    border: 2px solid transparent;
    
}

    &__catalog-text{
        color: $main-color-9;
  }
    &__filters{
        margin-left: auto ;
        
        &-wrapper{
            display: flex;
            justify-content: space-between;
            a { 
                margin-right: 10px;
                &:last-child { 
                    margin-right: 0;
                }
            }
            &-item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                padding: 10px;
                border-radius: $radius-S;
                color: $main-color-9;
                cursor: pointer;
                
                &:hover { 
                    background-color: $background-color;
                }
                &-active { 
                    border-radius: $radius-S;
                    background-color: $background-color;
                }
                &:last-child { 
                    margin-right: 0px;
                }
            }
    
        }
    } 
     
    
  }